@page
@model disaster_alleviation_foundation.Pages.godModel
@{
}
<table>
<tbody>
        Goods allocated successfully to a disaster.

    </tbody>
</table>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        }
