@page
@model IndexModel
@{
    //ViewData["Title"] = "Home page";
}

<html>
<head>
    <title>@ViewData["Title"]</title>
    <!-- Add your CSS styles and meta tags here -->
</head>
<body>
    <header>
        <h1>Welcome to Our Donation Website</h1>
        <p>Your generosity can make a difference!</p>
    </header>

    <nav>
        <!-- Include navigation links if needed -->
    </nav>

    <main>
        <section>
            <h2>Why Donate?</h2>
            <p>Support our cause and make a positive impact on the world.</p>
        </section>
        <img src="/Image/Yg4Lrgd3TkUNoyYDVfvDLS-320-80.jpg" alt="Natural disaster" />
        <section>
            <h2>How You Can Help</h2>
            <p>There are various ways to contribute:</p>
            <ul>
                <li>Financial Donations</li>
                <li>In-Kind Donations</li>
                <li>Volunteer Opportunities</li>
            </ul>
        </section>
        <img src="/Image/download.jpg" alt="Natural disaster" />

        <section>
            <h2>Donate Now</h2>
            <p>Your donation matters. Make a contribution today!</p>
           
        </section>
        <img src="/Image/download (1).jpg" alt="Natural disaster" />
    </main>

    <footer>
        <p>&copy; @DateTime.Now.Year - Your Organization</p>
    </footer>

    <!-- Add your JavaScript scripts and references here -->
   

</body>
</html>
